.article-panier{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}

.article-panier div {
    padding: 2rem;
}

.cta {
    text-decoration: none;
    display: block;
    border: solid blue 1px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
}

.article-panier img{
    width: 30%;
}

.article-panier h3{
    font-size: 2rem;
    color: blue;
    margin-bottom: 2rem;
}