body{
    margin : auto;
    max-width: 1440px;
}

.produit{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 4rem;
    border-bottom: 2px solid black;
}

.titre-produit{
    color: blue;
    font-size: 3.5rem;
}

.prix-ttc {
    font-size: 1rem;
    color: lightcoral;
    text-decoration: line-through;
}

img {
    width: 30%;
    margin-right: 2rem;
}

footer{
    max-width: none;
}

.ristourne{
    font-size: 1rem;
    color: orange;
}

.poids{
    font-size: 1rem;
    color: green;
}

.prix-ristourne-ttc {
    font-size: 1rem;
    color: red;
    background-color: yellow;
}

.produit h2{
    font-size: 2rem;
    color: blue;
    margin-bottom: 2rem;
}

.cta {
    text-decoration: none;
    display: block;
    border: solid blue 1px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
}