.shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1440px;
    padding: 5rem 0;
}

.produit{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.titre-produit{
    color: blue;
    font-size: 3.5rem;
}

.prix-ttc {
    font-size: 1rem;
    color: lightcoral;
    text-decoration: line-through;
}

.produit img {
    width: 30%;
    margin-right: 2rem;
}

footer{
    max-width: none;
}

.ristourne{
    font-size: 1rem;
    color: orange;
}

.poids{
    font-size: 1rem;
    color: green;
}

.prix-ristourne-ttc {
    font-size: 1rem;
    color: red;
    background-color: yellow;
}

.produit h2{
    font-size: 2rem;
    color: blue;
    margin-bottom: 2rem;
}

.cta {
    text-decoration: none;
    border: solid blue 1px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 0.7rem;
}

.cta-panier {
    text-decoration: none;
    border: solid blue 1px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 0.7rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.select{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.azerty{
    margin-top: 5rem;
}

.box-tableau{
    margin: 0 auto;
    width: 40%;
    padding: 7rem 0 3rem 0;
}

th, td {
    background-color: lightblue;
    padding: 1rem 2rem;
    text-align: center;
}

.tableau{
    box-sizing: content-box;
    border: solid 1px black;
    margin: 0 auto;
}

.cellule-total{
    font-weight: bold;
}

.vide-panier{
    width: 20%;
    margin: auto;
    margin-bottom: 3rem;
}